[Desktop Entry]
Name=KSudoku
Name[sv]=Ksudoku
Name[x-test]=xxKSudokuxx
Exec=ksudoku %i -caption "%c"
Icon=ksudoku
Type=Application
X-DocPath=ksudoku/index.html
GenericName=Sudoku Game
GenericName[ca]=Joc de Sudoku
GenericName[cs]=Sudoku hra
GenericName[da]=Sudoku-spil
GenericName[de]=Sudoku-Spiel
GenericName[el]=Παιχνίδι Sudoku
GenericName[eo]=Ludo de sudoko
GenericName[es]=Juego de Sudoku
GenericName[et]=Sudoku mäng
GenericName[fa]=بازی سودوکو
GenericName[fi]=Sudoku-peli
GenericName[fr]=Jeu de Sudoku
GenericName[ga]=Cluiche Sudoku
GenericName[gl]=Xogo de Sudokus
GenericName[hu]=Számkirakós
GenericName[it]=Gioco del Sudoku
GenericName[ja]=数字パズルゲーム
GenericName[km]=ល្បែង Sudoku
GenericName[ko]=스도쿠 게임
GenericName[lt]=Sudoku žaidimas
GenericName[lv]=Sudoku spēle
GenericName[nds]=Sudoku-Speel
GenericName[nl]=Sudoku-spel
GenericName[nn]=Sudoku-spel
GenericName[pl]=Sudoku
GenericName[pt]=Jogo do Sudoku
GenericName[pt_BR]=Jogo Lógico Sudoku
GenericName[ro]=Joc sudoku
GenericName[ru]=Игра Судоку
GenericName[sl]=Igra Sudokuja
GenericName[sv]=Sudoku-spel
GenericName[tr]=Sudoku Oyunu
GenericName[uk]=Гра у Судоку
GenericName[x-test]=xxSudoku Gamexx
GenericName[zh_CN]=数独游戏
GenericName[zh_TW]=Sudoku 數獨遊戲
Comment=KSudoku, Sudoku game & more for KDE
Comment[ca]=KSudoku, joc de Sudoku per KDE
Comment[cs]=KSudoku, Sudoku hra pro KDE
Comment[da]=KSudoku, sudoku-spil med mere til KDE
Comment[de]=KSudoku, Sudoku Spiel & mehr für KDE
Comment[el]=KSudoku, παιχνίδι Sudoku & άλλα για το KDE
Comment[eo]=KSudoku, sudoka ludo kaj pli por KDE
Comment[es]=KSudoku, juego Sudoku y más para KDE
Comment[et]=KSudoku, KDE sudoku mäng ja palju enam
Comment[fa]=KSudoku، بازی Sudoku و بیشتر برای KDE
Comment[fi]=KSudoku, Sudoku-peli ja enemmän KDE:lle
Comment[fr]=KSudoku, jeu de Sodoku et plus pour KDE
Comment[ga]=KSudoku, Cluiche Sudoku KDE agus tuilleadh
Comment[gl]=KSudoku, o xogo do sudoku e máis para KDE
Comment[hu]=KSudoku, egy KDE-alapú szúdoku
Comment[it]=KSudoku, gioco del Sudoku ed altri per KDE
Comment[ja]=KSudoku, KDE の数字パズルゲーム
Comment[km]=KSudoku ល្បែង Sudoku សម្រាប់ KDE
Comment[ko]=KSudoku, KDE를 위한 스도쿠 게임과 그 이상
Comment[lv]=KSudoku, sudoku spēle un vēl priekš KDE
Comment[nds]=KSudoku, Sudoku-Speel un mehr för KDE
Comment[ne]=केडीईका लागि केडीई सुडोकु, सुडोकु खेल र धेरै
Comment[nl]=KSudoku, sudoku-spel en meer voor KDE
Comment[nn]=KSudoku – omfattande sudoku-spel for KDE
Comment[pl]=KSudoku, gra Sudoku i więcej w KDE
Comment[pt]=KSudoku, um jogo de Sudoku e mais para o KDE
Comment[pt_BR]=KSudoku, Jogo Sudoku e variações para KDE
Comment[ro]=KSudoku, joc de sudoku și altele pentru KDE
Comment[ru]=KSudoku — больше, чем судоку для KDE
Comment[sl]=KSudoku, igra Sudoku in ostale za KDE
Comment[sv]=Ksudoku, Sudoku-spel med mera för KDE
Comment[tr]=KDE için sudoku oyunu
Comment[uk]=KSudoku, Гра у судоку і інше для KDE
Comment[x-test]=xxKSudoku, Sudoku game & more for KDExx
Comment[zh_CN]=KSudoku，KDE 下的增强型数独游戏
Comment[zh_TW]=KDE Sudoku 遊戲，以及其變化
Terminal=false
Categories=Qt;KDE;Game;LogicGame;
