[Desktop Entry]
Encoding=UTF-8
Name=ksudoku
Exec=ksudoku %i %m -caption "%c"
Icon=ksudoku
Type=Application
DocPath=ksudoku/ksudoku.html
Comment=KSudoku, Sudoku game & more for KDE
Comment[de]=KSudoku, Sudoku-Spiel & mehr für KDE
Comment[nl]=KSudoku, Sudoku-spel en meer voor KDE
Comment[pt]=KSudoku, um jogo do Sudoku para o KDE
Comment[pt_BR]=KSudoku, um jogo do Sudoku para o KDE
Comment[sv]=Ksudoku, Sudoku spel med mera för KDE
Terminal=false
Categories=Qt;KDE;Game;PuzzleGame;
