[KGameTheme]
Name=Abstraction
Name[ca]=Abstracció
Name[cs]=Abstrakce
Name[de]=Abstrakt
Name[en_GB]=Abstraction
Name[es]=Abstracción
Name[et]=Abstraktne
Name[gl]=Abstracción
Name[nds]=Afstrakschoon
Name[nn]=Abstrakt
Name[pt]=Abstracção
Name[pt_BR]=Abstração
Name[ru]=Абстракция
Name[sr]=Апстракција
Name[sr@latin]=Apstrakcija
Name[sv]=Abstraktion
Name[uk]=Абстракція
Name[x-test]=xxAbstractionxx
Name[zh_TW]=抽象
Description=A ksudoku theme with abstract artwork.
Description[ca]=Un tema pel ksudoku amb treball artístic abstracte
Description[de]=Ein Design für Ksudoku mit abstrakter Kunst.
Description[en_GB]=A ksudoku theme with abstract artwork.
Description[es]=Un tema de KSudoku con gráficos abstractos.
Description[et]=Ksudoku abstraktse kunsti teema
Description[gl]=Un tema visual de ksudoku cun deseño abstracto.
Description[nds]=En KSudoku-Muster mit afstrakt Billerwark
Description[nn]=Tema med abstrakte former.
Description[pt]=Um tema do Sudoku com arte abstracta.
Description[pt_BR]=Um tema do KSudoku com uma arte abstrata.
Description[ru]=Абстрактное оформления для KSudoku
Description[sr]=Тема К‑судокуа са апстрактном графиком.
Description[sr@latin]=Tema K‑sudokua sa apstraktnom grafikom.
Description[sv]=Ett tema för Ksudoku med abstrakt konst.
Description[uk]=Тема ksudoku у дусі абстрактного мистецтва.
Description[x-test]=xxA ksudoku theme with abstract artwork.xx
Description[zh_TW]=抽象式的 ksudoku 外觀主題。
VersionFormat=1
Author=Johannes Bergmeier
AuthorEmail=Johannes.Bergmeier@gmx.net
Type=SVG
FileName=abstraction.svg
#Preview=sample_preview.png
