[KGameTheme]
Name=Abstraction
Name[es]=Abstracción
Name[pt]=Abstracção
Name[pt_BR]=Abstração
Name[sv]=Abstraktion
Name[uk]=Абстракція
Name[x-test]=xxAbstractionxx
Name[zh_TW]=抽象
Description=A ksudoku theme with abstract artwork.
Description[es]=Un tema de KSudoku con gráficos abstractos.
Description[pt]=Um tema do Sudoku com arte abstracta.
Description[pt_BR]=Um tema do KSudoku com uma arte abstrata.
Description[sv]=Ett tema för Ksudoku med abstrakt konst.
Description[uk]=Тема ksudoku у дусі абстрактного мистецтва.
Description[x-test]=xxA ksudoku theme with abstract artwork.xx
Description[zh_TW]=抽象式的 ksudoku 外觀主題。
VersionFormat=1
Author=Johannes Bergmeier
AuthorEmail=Johannes.Bergmeier@gmx.net
Type=SVG
FileName=abstraction.svg
#Preview=sample_preview.png
