[KGameTheme]
Name=ksudoku_egyptian
Name[ca]=ksudoku_egipci
Name[da]=ksudoku_egyptisk
Name[de]=Ägyptisch
Name[es]=ksudoku_egipcio
Name[it]=ksudoku_egizio
Name[nn]=Egyptisk
Name[sr]=Египатски
Name[sr@latin]=Egipatski
Name[sv]=Egyptisk Ksoduku
Name[x-test]=xxksudoku_egyptianxx
Description=KSudoku egyptian style theme
Description[ca]=Tema d'estil egipci pel KSudoku
Description[da]=KSudoku-tema i egyptisk stil
Description[de]=Das ägyptische Design für KSudoku.
Description[el]=KSudoku αιγυπτιακό θέμα στυλ
Description[es]=Tema de estilo egipcio para KSudoku
Description[et]=KSudoku Egiptuse stiilis teema
Description[it]=Tema egizio per KSudoku
Description[nds]=Ägyptsch Stil för KSudoku
Description[nn]=Egyptisk tema.
Description[pt]=Tema de estilo Egípcio para o KSudoku
Description[pt_BR]=Tema de estilo egípcio para o KSudoku
Description[ru]=Оформление в египетском стиле
Description[sl]=Egipčanska tema za KSudoku
Description[sr]=Тема К‑судокуа у египатском стилу
Description[sr@latin]=Tema K‑sudokua u egipatskom stilu
Description[sv]=Ksudoku-tema med egyptisk stil
Description[uk]=KSudoku, тема у єгипетському стилі
Description[x-test]=xxKSudoku egyptian style themexx
Description[zh_CN]=KSudoku 埃及风格主题
Description[zh_TW]=KSudoku，埃及風格
VersionFormat=1
Author=Sean Wilson
AuthorEmail=suseux@gmail.com
Type=SVG
FileName=ksudoku_egyptian.svg
Preview=egyptian_preview.png
