[KGameTheme]
Name=Sample
Description=KSudoku sample theme for KDE 4
VersionFormat=1
Author=Johannes Bergmeier
AuthorEmail=Johannes.Bergmeier@gmx.net
Type=SVG
FileName=ksudoku_sample.svg
#Preview=sample_preview.png
