[KSudokuVariant]
Name=4x4
Name[ast]=4x4
Name[be]=4x4
Name[ca]=4x4
Name[ca@valencia]=4x4
Name[cs]=4x4
Name[da]=4x4
Name[de]=4×4
Name[el]=4x4
Name[en_GB]=4x4
Name[eo]=4x4
Name[es]=4x4
Name[et]=4x4
Name[eu]=4x4
Name[fa]=۴×۴
Name[fi]=4x4
Name[fr]=4x4
Name[ga]=4×4
Name[gl]=4x4
Name[hne]=4x4
Name[hu]=4x4
Name[it]=4×4
Name[ja]=4x4
Name[km]=4x4
Name[ko]=4x4
Name[lt]=4x4
Name[lv]=4x4
Name[mai]=4x4
Name[nb]=4 × 4
Name[nds]=4x4
Name[ne]=४x४
Name[nl]=4x4
Name[nn]=4 × 4
Name[oc]=4x4
Name[pa]=4x4
Name[pl]=4x4
Name[pt]=4x4
Name[pt_BR]=4x4
Name[ro]=4x4
Name[ru]=4x4
Name[si]=4x4
Name[sk]=4x4
Name[sl]=4x4
Name[sr]=4×4
Name[sr@ijekavian]=4×4
Name[sr@ijekavianlatin]=4×4
Name[sr@latin]=4×4
Name[sv]=4x4
Name[te]=4x4
Name[tr]=4x4
Name[uk]=4x4
Name[wa]=4x4
Name[x-test]=xx4x4xx
Name[zh_CN]=4x4
Name[zh_TW]=4x4
Description=4x4 shape puzzle
Description[ast]=Frañetiestes en forma de 4x4
Description[ca]=Trencaclosques amb forma de 4x4
Description[ca@valencia]=Trencaclosques amb forma de 4x4
Description[cs]=Hádanka 4x4
Description[da]=4x4-formet puslespil
Description[de]=4×4-förmiges Rätsel
Description[el]=Παζλ μεγέθους 4x4
Description[en_GB]=4x4 shape puzzle
Description[es]=Rompecabezas en forma de 4x4
Description[et]=4x4 sudoku
Description[eu]=4x4 formako buruhauskarria
Description[fa]=معمای شکل ۴×۴
Description[fi]=4x4-muotoinen pulma
Description[fr]=Puzzle 4x4
Description[ga]=Puzal 4×4
Description[gl]=Quebracabezas con forma de 4x4
Description[hne]=४x४ आकार के पहेली
Description[hu]=4x4-es feladvány
Description[it]=Schema di formato 4×4
Description[ja]=4x4 型パズル
Description[km]=ផ្គុំ​រាង 4x4
Description[ko]=4x4 모양 퍼즐
Description[lt]=4x4 formos galvosūkis
Description[lv]=4x4 formas uzdevums
Description[nb]=4 × 4-brett
Description[nds]=4x4-Pussel
Description[ne]=४x४ आकारको पजल
Description[nl]=4x4-vormige puzzel
Description[nn]=4 × 4-brett
Description[pl]=Układanka 4x4
Description[pt]='Puzzle' no formato 4x4
Description[pt_BR]=Quebra-cabeça em formato 4x4
Description[ru]=Головоломка 4x4
Description[sk]=Puzzle 4x4
Description[sl]=Uganka velikosti 4x4
Description[sr]=4×4 слагалица
Description[sr@ijekavian]=4×4 слагалица
Description[sr@ijekavianlatin]=4×4 slagalica
Description[sr@latin]=4×4 slagalica
Description[sv]=4x4 format spel
Description[tr]=4x4 şekilli bulmaca
Description[uk]=Головоломка 4x4 частинки
Description[x-test]=xx4x4 shape puzzlexx
Description[zh_CN]=4x4 谜题
Description[zh_TW]=4x4 簡易遊戲
Author=Francesco Rossi
FileName=4x4.xml
Icon=ksudoku-ksudoku_4x4


