[KSudokuVariant]
Name=6x6
Name[bs]=6x6
Name[ca]=6x6
Name[da]=6x6
Name[de]=6x6
Name[el]=6x6
Name[es]=6x6
Name[et]=6x6
Name[fi]=6×6
Name[fr]=6x6
Name[gl]=6x6
Name[hu]=6x6
Name[it]=6x6
Name[kk]=6x6
Name[km]=6x6
Name[lv]=6x6
Name[nb]=6×6
Name[nl]=6x6
Name[pl]=6x6
Name[pt]=6x6
Name[pt_BR]=6x6
Name[sk]=6x6
Name[sl]=6x6
Name[sr]=6×6
Name[sr@ijekavian]=6×6
Name[sr@ijekavianlatin]=6×6
Name[sr@latin]=6×6
Name[sv]=6x6
Name[uk]=6x6
Name[x-test]=xx6x6xx
Name[zh_CN]=6x6
Name[zh_TW]=6x6
Description=6x6 puzzle with rectangular blocks
Description[bs]=6x6 slagalica sa pravougaonim blokovima
Description[ca]=Un trencaclosques de 6x6 fet de blocs rectangulars
Description[da]=6x6 opgave med rektangulære blokke
Description[de]=6x6-Rätsel mit rechteckigen Blöcken
Description[el]=Ένα παζλ με ορθογώνια κομμάτια
Description[es]=Rompecabezas de 6x6 con bloques rectangulares
Description[et]=6x6 sudoku nelinurksete plokkidega
Description[fr]=Un puzzle 6x6 avec des blocs rectangulaires
Description[gl]=Un quebracabezas de 6x6 con bloques rectangulares
Description[hu]=6x6-os feladvány négyszögletes blokkokkal
Description[it]=Schema 6x6 con blocchi rettangolari
Description[kk]=6x6 тікбұрышартан жиналатын басқатырғыш
Description[km]=ល្បែង​ផ្គុំរូប 6x6 ដែល​មាន​ប្លុក​រាង​ចតុកោណកែង
Description[lv]=6x6 uzdevums ar taisnstūra blokiem
Description[nb]=6×6-spill med rektangulære brikker
Description[nl]=6x6 puzzel met rechthoekige blokken
Description[pl]=Puzzle 6x6 z prostokątnymi blokami
Description[pt]=Um puzzle 6x6 com blocos rectangulares
Description[pt_BR]=Um quebra-cabeça 6x6 com blocos retangulares
Description[sk]=Puzzle 6x6 s pravouhlými blokmi
Description[sl]=Sestavljanka 6x6 s pravokotnimi kosi
Description[sr]=6×6 слагалица са правоугаоним блоковима
Description[sr@ijekavian]=6×6 слагалица са правоугаоним блоковима
Description[sr@ijekavianlatin]=6×6 slagalica sa pravougaonim blokovima
Description[sr@latin]=6×6 slagalica sa pravougaonim blokovima
Description[sv]=6x6 spel med rektangulära block
Description[uk]=Поле 6x6 з прямокутними блоками
Description[x-test]=xx6x6 puzzle with rectangular blocksxx
Description[zh_TW]=6x6 矩形區塊謎題
Author=Ian Wadham
FileName=6x6.xml
Icon=ksudoku-ksudoku_9x9
