[KSudokuVariant]
Name=Aztec
Name[ast]=Azteca
Name[bs]=Astek
Name[ca]=Asteca
Name[ca@valencia]=Azteca
Name[cs]=Aztec
Name[da]=Aztek
Name[de]=Azteke
Name[el]=Αζτέκοι
Name[en_GB]=Aztec
Name[es]=Azteca
Name[et]=Asteek
Name[eu]=Azteka
Name[fr]=Aztèque
Name[ga]=Aisticeach
Name[gl]=Azteca
Name[hr]=Aztec
Name[hu]=Aztékok
Name[it]=Atzeco
Name[kk]=Ацтек
Name[km]=អ៊ែហ្សតិច
Name[lt]=Actekai
Name[lv]=Azteku
Name[nb]=Aztekisk
Name[nds]=Azteeksch
Name[nl]=Aztec
Name[nn]=Aztekisk
Name[pl]=Aztecki budynek
Name[pt]=Azteca
Name[pt_BR]=Asteca
Name[ro]=Aztec
Name[ru]=Ацтек
Name[sk]=Azték
Name[sl]=Azteki
Name[sq]=Aztec
Name[sr]=Астечки
Name[sr@ijekavian]=Астечки
Name[sr@ijekavianlatin]=Astečki
Name[sr@latin]=Astečki
Name[sv]=Aztec
Name[tr]=Aztec
Name[ug]=ئازتېك
Name[uk]=Ацтецька
Name[x-test]=xxAztecxx
Name[zh_CN]=阿兹特克
Name[zh_TW]=阿茲特克
Description=Jigsaw variant shaped like an Aztec pyramid
Description[es]=Variante de rompecabezas con forma de pirámide azteca
Description[et]=Asteegi püramiidi kujuline sudoku
Description[gl]=Variante do puzzle en forma de pirámide azteca
Description[hu]=Kirakóváltozat Azték piramis szerű alakokkal
Description[km]=ល្បែង​ផ្គុំរូប​ដែល​មាន​រូបរាង​ដូច​ពីរ៉ាមីត Aztec
Description[nl]=Legpuzzelvariant gevormd als een Azteekse piramide
Description[pl]=Wariant układanki na kształt Azteckiej piramidy
Description[pt]=Variante de 'puzzles' desenhada como uma pirâmide azteca
Description[pt_BR]=Variante do quebra-cabeça desenhada como uma pirâmide asteca
Description[sl]=Različica sestavljanke oblike azteške piramide
Description[sr]=Тестераста варијанта у облику астечке пирамиде
Description[sr@ijekavian]=Тестераста варијанта у облику астечке пирамиде
Description[sr@ijekavianlatin]=Testerasta varijanta u obliku astečke piramide
Description[sr@latin]=Testerasta varijanta u obliku astečke piramide
Description[sv]=Pusselversion formad som en Aztekisk pyramid
Description[uk]=Варіант мозаїки у формі, подібній до ацтецької піраміди
Description[x-test]=xxJigsaw variant shaped like an Aztec pyramidxx
Description[zh_TW]=拼圖的形狀變化，類似阿茲塔克金字塔
Author=Ian Wadham
FileName=Aztec.xml
Icon=ksudoku-jigsaw
