[KSudokuVariant]
Name=Double Roxdoku
Name[pt]=Roxdoku Duplo
Name[pt_BR]=Roxdoku Duplo
Name[sv]=Dubbel Roxdoku
Name[uk]=Подвійне роксудоку
Name[x-test]=xxDouble Roxdokuxx
Description=Three-dimensional puzzle with two interlocking 3x3x3 cubes
Description[pt]=Puzzle tridimensional com dois cubos 3x3x3 interbloqueados
Description[sv]=Tredimensionellt spel med två sammanlänkade 3x3x3 kuber
Description[uk]=Тривимірна головоломка з двома взаємопов’язаними кубічними частинами 3⨯3⨯3
Description[x-test]=xxThree-dimensional puzzle with two interlocking 3x3x3 cubesxx
Author=Ian Wadham
FileName=DoubleRoxdoku.xml
Icon=ksudoku-roxdoku_3x3x3
