[KSudokuVariant]
Name=Jigsaw
Name[br]=Jigsaw
Name[ca]=Puzzle
Name[ca@valencia]=Puzzle
Name[cs]=Puzzle
Name[da]=Jigsaw
Name[de]=Stichsäge
Name[el]=Jigsaw
Name[en_GB]=Jigsaw
Name[eo]=SegSalto
Name[es]=Jigsaw
Name[et]=Pusle
Name[eu]=Jigsaw
Name[fi]=Palapeli
Name[fr]=Jigsaw
Name[ga]=Míreanna Mearaí
Name[gl]=Jigsaw
Name[hne]=जिग-सा
Name[hu]=Képkirakó
Name[it]=Incastri
Name[ja]=ジグソー
Name[km]=ល្បែង​ផ្គុំរូប
Name[ko]=직소
Name[lt]=Jigsaw
Name[lv]=Puzle
Name[nb]=Puslespill
Name[nds]=Pussel
Name[ne]=जिग्स
Name[nl]=Puzzel
Name[nn]=Puslespel
Name[pl]=Układanka
Name[pt]=Jigsaw
Name[pt_BR]=Quebra-cabeça
Name[ro]=Fierăstrău
Name[ru]=Лобзик
Name[sk]=Skladačka
Name[sl]=Sestavljanka
Name[sr]=Слагалица
Name[sr@ijekavian]=Слагалица
Name[sr@ijekavianlatin]=Slagalica
Name[sr@latin]=Slagalica
Name[sv]=Pussel
Name[tr]=Yapboz
Name[uk]=Мозаїка
Name[x-test]=xxJigsawxx
Name[zh_CN]=线锯
Name[zh_TW]=拼圖
Description=Jigsaw shape puzzle
Description[ca]=Trencaclosques amb forma de puzzle
Description[ca@valencia]=Trencaclosques amb forma de puzzle
Description[cs]=Hádanka ve tvaru puzzle
Description[da]=Jigsaw-formet puslespil
Description[de]=Ein Stichsägen-förmiges Rätsel.
Description[el]=Κανονικό παζλ
Description[en_GB]=Jigsaw shape puzzle
Description[es]=Rompecabezas al estilo pieza de puzzle
Description[et]=Puslekujuline sudoku
Description[eu]=Jigsaw formako puzzlea
Description[fa]=معمای شکل Jigsaw
Description[fi]=Perinteinen palapeli
Description[fr]=Puzzle Jigsaw
Description[ga]=Puzal ar dhéanamh míreanna mearaí
Description[gl]=Quebracabezas con forma de Jigsaw
Description[hne]=जिगसा आकार के पहेली
Description[hu]=Képkirakó játék
Description[it]=Formato dello schema Incastri
Description[ja]=ジグソー型パズル
Description[km]=ល្បែង​ផ្គុំរូប
Description[ko]=직소 모양 퍼즐
Description[lv]=Izgrieztu gabalu salikšanas uzdevums
Description[nb]=Puslespillbrett
Description[nds]=Pusselspeel
Description[ne]=जिग्स आकार पजल
Description[nl]=Legpuzzel-vormige puzzel
Description[nn]=Puslespelbrett
Description[pl]=Układanka
Description[pt]=Um jogo de 'puzzle'
Description[pt_BR]=Quebra-cabeça em formato vai-e-vem
Description[ro]=Puzzle în formă de fierăstrău
Description[ru]=Головоломка в форме лобзика
Description[sk]=Skladačka v tvare puzzle
Description[sl]=Uganka v obliki sestavljanke
Description[sr]=Слагалица са уклапајућим деловима
Description[sr@ijekavian]=Слагалица са уклапајућим деловима
Description[sr@ijekavianlatin]=Slagalica sa uklapajućim delovima
Description[sr@latin]=Slagalica sa uklapajućim delovima
Description[sv]=Pusselformat spel
Description[tr]=Yapboz bulmacası
Description[uk]=Головоломка — мозаїка з частинок
Description[x-test]=xxJigsaw shape puzzlexx
Description[zh_CN]=线锯谜题
Description[zh_TW]=拼圖式遊戲
Author=Francesco Rossi
FileName=Jigsaw.xml
Icon=ksudoku-jigsaw
