[KSudokuVariant]
Encoding=UTF-8
Name=Jigsaw
Name[de]=Stichsäge
Name[gl]=Quebracabezas
Name[ja]=ジグソー
Name[ne]=जिग्स
Name[nl]=Puzzel
Name[sv]=Pussel
Name[zh_CN]=线锯
Name[zh_TW]=拼圖
Description=Jigsaw shape puzzle
Description[de]=Stichsägenförmiges Rätsel
Description[el]=Κανονικό παζλ
Description[es]=Rompecabezas al estilo Jigsaw
Description[fa]=معمای شکل Jigsaw
Description[gl]=Forma de quebracabezas
Description[ja]=ジグソー型パズル
Description[ne]=जिग्स आकार पजल
Description[nl]=Legpuzzel-vormige puzzel
Description[pt]=Puzzle com formato em serra
Description[pt_BR]=Puzzle com formato em serra
Description[sv]=Pusselformat spel
Description[zh_CN]=线锯谜题
Description[zh_TW]=拼圖式遊戲
Author=Francesco Rossi
FileName=Jigsaw.xml
