[KSudokuVariant]
Name=Tiny Killer
Name[ar]=القاتل الصغير
Name[ca]=Addoku/Tiny Killer
Name[ca@valencia]=Addoku/Tiny Killer
Name[da]=Meget lille Killer
Name[de]=Kleines Killer-Sudoku
Name[el]=Μικρός Δολοφόνος
Name[en_GB]=Tiny Killer
Name[eo]=Eta Murdinto
Name[es]=Killer pequeño
Name[et]=Tiny Killer
Name[eu]=Killer txikia
Name[fi]=Pikku tappaja
Name[fr]=Petit tueur
Name[gl]=Imposíbel anano
Name[he]=רוצח זעיר
Name[hi]=नन्हा कातिल
Name[hu]=Apró gyilkos
Name[it]=Piccolo assassino
Name[ka]=პატარა სუდოკუ-მკვლელი
Name[ko]=작은 킬러
Name[lv]=Mazais „Killer“
Name[ml]=ടൈനി കില്ലർ
Name[nl]=Tiny Killer
Name[nn]=Liten killer
Name[pl]=Mały zabójca
Name[pt]=Pequeno Assassino
Name[pt_BR]=Pequeno Assassino
Name[ru]=Маленькое судоку-киллер
Name[sa]=लघु हत्यारा
Name[sk]=Malý zabijak
Name[sl]=Ubijalski pritlikavec
Name[sr]=Сићушни убица
Name[sr@ijekavian]=Сићушни убица
Name[sr@ijekavianlatin]=Sićušni ubica
Name[sr@latin]=Sićušni ubica
Name[sv]=Liten mördare
Name[tr]=Mini Öldürücü
Name[uk]=Малий кілер
Name[zh_CN]=小型杀手数独
Name[zh_TW]=極小殺手
Description=4x4 Sudoku, but cages must add to totals shown
Description[ar]=سودوكو 4×4، لكن يجب إضافة الأقفاص إلى الإجماليات الموضحة
Description[ca]=Sudoku 4x4, però les caixes s'han d'afegir als totals mostrats
Description[ca@valencia]=Sudoku 4x4, però les caixes s'han d'afegir als totals mostrats
Description[da]=4x4 Sudoku, men burer skal tilføjes til viste samlet
Description[de]=4x4 Sudoku, die Summe der Blöcke muss den angezeigten Wert ergeben
Description[el]=Sudoku 4x4, αλλά τα κελιά θα πρέπει να άθροισμα αυτό που εμφανίζεται
Description[en_GB]=4x4 Sudoku, but cages must add to totals shown
Description[eo]=4x4 Sudoku, sed kaĝoj devas aldoni al montrataj totaloj
Description[es]=Sudoku 4x4, pero las jaulas deben sumarse para obtener los totales mostrados
Description[et]=4x4 sudoku, kuid plokid sisaldavad summat
Description[eu]=4x4 Sudoku, baino kaiolak batu behar zaizkio erakutsitako guztizkoei
Description[fi]=4 × 4 sudoku, mutta häkkien tulee summautua annettuihin arvoihin
Description[fr]=Sudoku 4x4, les cages doivent s'additionner pour donner les valeurs indiquées
Description[gl]=Sudoku de 4x4 no que os díxitos das gaiolas deben sumar o valor indicado.
Description[he]=סודוקו 4×4, אך הכלובים חייבים להסתכם לסכומים שמופיעים
Description[hu]=4x4 sudoku, de a ketreceknek össze kell adniuk a feltüntetett összegeket
Description[it]=Sudoku 4x4, ma i totali dei riguardi devono corrispondere ai valori mostrati
Description[ka]=4x4 სუდოკუ, მაგრამ გალიებს ნაჩვენები შეჯამებები უნდა დაამატოთ
Description[ko]=4x4 스도쿠, 묶음에 있는 숫자를 더했을 때 표시한 값이 되어야 함
Description[lv]=4✕4 sudoku, bet kastēm ir jāatbilst parādītajām kopsummām
Description[ml]=4x4 സുഡോകു, പക്ഷേ കൂടുകൾ കാണിച്ചിരിക്കുന്ന ആകെത്തുകയിലേക്ക് ചേർക്കണം
Description[nl]=4x4 Sudoku, maar vakken moeten worden toegevoegd bij getoonde totalen
Description[nn]=4 × 4-sudoku, men siffera i bur må ha visse sumverdiar
Description[pl]=Sudoku 4x4 z tym, klatki muszą sumować się do pokazanej wartości
Description[pt]=Sudoku 4x4, mas são adicionadas as caixas aos totais apresentados
Description[pt_BR]=Sudoku 4x4, mas as caixas devem ser adicionadas aos totais apresentados
Description[ru]=Судоку 4х4, но клетки необходимо добавлять к показанным итогам
Description[sa]=4x4 सुडोकु, परन्तु पञ्जराणि दर्शितेषु कुलेषु योजयितुं अर्हन्ति
Description[sk]=Sudoku 4x4, ale klietky musia pridať k zobrazeným súčtom
Description[sl]=4x4 Sudoku, poleg prikazanega je treba upoštevati kletke
Description[sr]=Судоку 4×4, али кавези морају да добију приказане збирове
Description[sr@ijekavian]=Судоку 4×4, али кавези морају да добију приказане збирове
Description[sr@ijekavianlatin]=Sudoku 4×4, ali kavezi moraju da dobiju prikazane zbirove
Description[sr@latin]=Sudoku 4×4, ali kavezi moraju da dobiju prikazane zbirove
Description[sv]=4x4 Sudoku, men avgränsningar måste adderas till visade summor
Description[tr]=4 × 4 Sudoku, ama kafesler gösterilen toplamlara eklenmek zorunda
Description[uk]=Судоку 4x4, але блоки мають складати сумі показане число
Description[zh_CN]=4x4数独，但是区会加入总计显示
Description[zh_TW]=4x4 數獨，但總和顯示會加入框架
Author=Ian Wadham
FileName=Killer_4x4.xml
Icon=ksudoku-ksudoku_4x4


