[KSudokuVariant]
Name=Tiny Killer
Name[ca]=Addoku/Tiny Killer
Name[ca@valencia]=Addoku/Tiny Killer
Name[da]=Meget lille Killer
Name[de]=Kleines Killer-Sudoku
Name[en_GB]=Tiny Killer
Name[es]=Killer pequeño
Name[et]=Tiny Killer
Name[fi]=Pikku tappaja
Name[fr]=Petit Killer
Name[gl]=Imposíbel anano
Name[it]=Piccolo assassino
Name[nl]=Tiny Killer
Name[nn]=Liten killer
Name[pl]=Mały zabójca
Name[pt]=Pequeno Assassino
Name[pt_BR]=Pequeno Assassino
Name[sk]=Malý zabijak
Name[sl]=Ubijalski pritlikavec
Name[sr]=Сићушни убица
Name[sr@ijekavian]=Сићушни убица
Name[sr@ijekavianlatin]=Sićušni ubica
Name[sr@latin]=Sićušni ubica
Name[sv]=Liten mördare
Name[tr]=Mini Öldürücü
Name[uk]=Малий кілер
Name[x-test]=xxTiny Killerxx
Name[zh_TW]=極小殺手
Description=4x4 Sudoku, but cages must add to totals shown
Description[ca]=Sudoku 4x4, però les caixes s'han d'afegir als totals mostrats
Description[ca@valencia]=Sudoku 4x4, però les caixes s'han d'afegir als totals mostrats
Description[da]=4x4 Sudoku, men burer skal tilføjes til viste samlet
Description[en_GB]=4x4 Sudoku, but cages must add to totals shown
Description[es]=Sudoku 4x4, pero las jaulas deben sumarse para obtener los totales mostrados
Description[et]=4x4 sudoku, kuid plokid sisaldavad summat
Description[fr]=Sudoku 4x4, les cages doivent s'additionner pour donner les valeurs indiquées
Description[gl]=Sudoku de 4x4 no que os díxitos das gaiolas deben sumar o valor indicado.
Description[it]=Sudoku 4x4, ma i totali dei riguardi devono corrispondere ai valori mostrati
Description[nl]=4x4 Sudoku, maar vakken moeten worden toegevoegd bij getoonde totalen
Description[nn]=4 × 4-sudoku, men siffera i bur må ha visse sumverdiar
Description[pl]=Sudoku 4x4 z tym, klatki muszą sumować się do pokazanej wartości
Description[pt]=Sudoku 4x4, mas são adicionadas as caixas aos totais apresentados
Description[pt_BR]=Sudoku 4x4, mas as caixas devem ser adicionadas aos totais apresentados
Description[sk]=Sudoku 4x4, ale klietky musia pridať k zobrazeným súčtom
Description[sl]=4x4 Sudoku, poleg prikazanega je treba upoštevati kletke
Description[sr]=Судоку 4×4, али кавези морају да добију приказане збирове
Description[sr@ijekavian]=Судоку 4×4, али кавези морају да добију приказане збирове
Description[sr@ijekavianlatin]=Sudoku 4×4, ali kavezi moraju da dobiju prikazane zbirove
Description[sr@latin]=Sudoku 4×4, ali kavezi moraju da dobiju prikazane zbirove
Description[sv]=4x4 Sudoku, men avgränsningar måste adderas till visade summor
Description[tr]=4x4 Sudoku, ama kafesler gösterilen toplamlara eklenmek zorunda
Description[uk]=Судоку 4x4, але блоки мають складати сумі показане число
Description[x-test]=xx4x4 Sudoku, but cages must add to totals shownxx
Description[zh_TW]=4x4 數獨，但總和顯示會加入框架
Author=Ian Wadham
FileName=Killer_4x4.xml
Icon=ksudoku-ksudoku_4x4


