[KSudokuVariant]
Name=Killer Sudoku
Name[ca]=Killer Sudoku
Name[ca@valencia]=Killer Sudoku
Name[de]=Killer-Sudoku
Name[en_GB]=Killer Sudoku
Name[es]=Killer Sudoku
Name[et]=Killer Sudoku
Name[fi]=Tappajasudoku
Name[fr]=Killer Sudoku
Name[gl]=Sudoku imposíbel
Name[it]=Sudoku assassino
Name[nl]=Killer Sudoku
Name[nn]=Killer-sudoku
Name[pl]=Zabójcze Sudoku
Name[pt]=Sudoku Assassino
Name[pt_BR]=Sudoku Assassino
Name[sk]=Zabijácke Sudoku
Name[sl]=Ubijalski Sudoku
Name[sr]=Судоку убица
Name[sr@ijekavian]=Судоку убица
Name[sr@ijekavianlatin]=Sudoku ubica
Name[sr@latin]=Sudoku ubica
Name[sv]=Mördarsudoku
Name[tr]=Öldürücü Sudoku
Name[uk]=Судоку-кілер
Name[x-test]=xxKiller Sudokuxx
Name[zh_TW]=殺手數獨
Description=Classic Sudoku, but cages must add to totals shown
Description[ca]=Sudoku clàssic, però les caixes s'han d'afegir als totals mostrats
Description[ca@valencia]=Sudoku clàssic, però les caixes s'han d'afegir als totals mostrats
Description[en_GB]=Classic Sudoku, but cages must add to totals shown
Description[es]=Sudoku clásico, pero las jaulas deben sumarse para obtener los totales mostrados
Description[et]=Klassikaline sudoku, kuid plokid sisaldavad summat
Description[fr]=Sudoku classique, mais les cages doivent s'additionner pour donner les valeurs indiquées
Description[gl]=Sudoku clásico, pero as gaiolas deben sumar o valor indicado.
Description[it]=Sudoku classico, ma i totali dei riguardi devono corrispondere ai valori mostrati
Description[nl]=Klassiek Sudoku, maar vakken moeten worden toegevoegd bij getoonde totalen
Description[nn]=Klassisk sudoku, men celler i bur må ha visse summar
Description[pl]=Klastyczne Sudoku z tym, że klatki muszą sumować się do pokazanej wartości
Description[pt]=Sudoku clássico, mas são adicionadas as caixas aos totais apresentados
Description[pt_BR]=Sudoku clássico, mas as caixas devem ser adicionadas aos totais apresentados
Description[sk]=Klasické sudoku, ale klietky musia pridať k zobrazeným súčtom
Description[sl]=Klasični Sudoku, poleg prikazanega je treba upoštevati kletke
Description[sr]=Класични судоку, али кавези морају да добију приказане збирове
Description[sr@ijekavian]=Класични судоку, али кавези морају да добију приказане збирове
Description[sr@ijekavianlatin]=Klasični sudoku, ali kavezi moraju da dobiju prikazane zbirove
Description[sr@latin]=Klasični sudoku, ali kavezi moraju da dobiju prikazane zbirove
Description[sv]=Klassisk Sudoku, men avgränsningar måste adderas till visade summor
Description[tr]=Klasik Sudoku, ama kafesler gösterilen toplamlara eklenmek zorunda
Description[uk]=Класичне судоку, але блоки мають складати у сумі показане число
Description[x-test]=xxClassic Sudoku, but cages must add to totals shownxx
Description[zh_TW]=經典數獨，但總和顯示會加入框架
Author=Ian Wadham
FileName=Killer_9x9.xml
Icon=ksudoku-ksudoku_9x9
