[KSudokuVariant]
Name=Mathdoku 101
Name[ar]=رياضيات-دوكو 101
Name[ca]=Mathdoku 101
Name[ca@valencia]=Mathdoku 101
Name[da]=Mathdoku alene
Name[de]=MathDoku 101
Name[en_GB]=Mathdoku 101
Name[eo]=Mathdoku 101
Name[es]=Mathdoku 101
Name[et]=Mathdoku 101
Name[eu]=Mathdoku 101
Name[fi]=Mathdoku 101
Name[fr]=Mathdoku 101
Name[gl]=Introdución a Mathdoku
Name[he]=מתדוקו 101
Name[hu]=Matekdoku 101
Name[it]=Mathdoku 101
Name[ka]=მათდოკუ 101
Name[ko]=수학 스도쿠 101
Name[ml]=മത്‌ഡോകു 101
Name[nl]=Mathdoku 101
Name[nn]=Mattedoku 101
Name[pl]=Mathdoku 101
Name[pt]=Matedoku 101
Name[pt_BR]=Matedoku 101
Name[ro]=Mathdoku 101
Name[ru]=Матдоку 101
Name[sk]=Mathdoku 101
Name[sl]=Mathdoku 101
Name[sr]=Матудоку 101
Name[sr@ijekavian]=Матудоку 101
Name[sr@ijekavianlatin]=Matudoku 101
Name[sr@latin]=Matudoku 101
Name[sv]=Mattedoku 101
Name[tr]=Mathdoku 101
Name[uk]=Матдоку 101
Name[x-test]=xxMathdoku 101xx
Name[zh_CN]=算独 101
Name[zh_TW]=Mathdoku 101
Description=Size 4x4 grid, with calculated cages
Description[ar]=شبكة مقاس 4×4 مع أقفاص محسوبة
Description[ca]=Mida de quadrícula 4x4, amb caixes calculades
Description[ca@valencia]=Mida de quadrícula 4x4, amb caixes calculades
Description[da]=Størrelse 4x4-gitter, med beregnede burer
Description[de]=Größe 4x4 mit berechneten Blöcken
Description[en_GB]=Size 4x4 grid, with calculated cages
Description[eo]=Grandeco 4x4 krado, kun kalkulitaj kaĝoj
Description[es]=Rejilla de tamaño 4x4, con jaulas calculadas
Description[et]=4x4 ruudustiku ja arvutamist nõudvate plokkidega
Description[eu]=4x4 neurriko sareta, kalkulatutako kaiolekin
Description[fi]=4 × 4 -kokoinen ruudukko, missä häkit lasketaan
Description[fr]=Grille de 4x4, cages calculées
Description[gl]=Grade de 4x4 con gaiolas calculadas.
Description[he]=רשת בגודל 4×4, עם כלובי חישוב
Description[hu]=4x4-es méretű rács, számított ketrecekkel
Description[it]=Griglia di dimensione 4x4, con riquadri calcolati
Description[ka]=4x4 ზომის ბადე, გამოთვლილი გალიებით
Description[ko]=4x4 크기 그리드, 계산된 묶음
Description[ml]=4x4 വലുപ്പത്തിലുള്ള ഗ്രിഡ്നൊപ്പം കണക്കാക്കിയ കൂടുകളും
Description[nl]=Grootte 4x4 raster, met berekende vakken
Description[nn]=4 × 4-rutenett, med bur
Description[pl]=Siataka w rozmiarze 4x4 z obliczonymi klatkami
Description[pt]=Grelha de tamanho 4x4 com caixas controladas
Description[pt_BR]=Grade de tamanho 4x4 com caixas controladas
Description[ru]=Сетка 4х4, с рассчитанными клетками
Description[sk]=Veľkosť 4x4 s vypočítanými klietkami
Description[sl]=Mreža velikosti 4x4 z izračunanimi kletkami
Description[sr]=Мрежа 4×4, са израчунатим кавезима
Description[sr@ijekavian]=Мрежа 4×4, са израчунатим кавезима
Description[sr@ijekavianlatin]=Mreža 4×4, sa izračunatim kavezima
Description[sr@latin]=Mreža 4×4, sa izračunatim kavezima
Description[sv]=Storlek 4x4 med beräknade avgränsningar
Description[tr]=4x4 ızgara, kafesler hesaplanmış
Description[uk]=Ґратка розміром 4x4, із обчисленими блоками
Description[x-test]=xxSize 4x4 grid, with calculated cagesxx
Description[zh_CN]=4x4大小的格子，包含计算区
Description[zh_TW]=4x4 大小的格子，包含了計算過的框架
Author=Ian Wadham
FileName=Mathdoku_4x4.xml
Icon=ksudoku-ksudoku_4x4
