[KSudokuVariant]
Name=Mathdoku 101
Name[ca]=Mathdoku 101
Name[es]=Mathdoku 101
Name[gl]=Introdución a Mathdoku
Name[nl]=Mathdoku 101
Name[pl]=Mathdoku 101
Name[pt]=Matedoku 101
Name[pt_BR]=Matedoku 101
Name[sr]=Матудоку 101
Name[sr@ijekavian]=Матудоку 101
Name[sr@ijekavianlatin]=Matudoku 101
Name[sr@latin]=Matudoku 101
Name[sv]=Mattedoku 101
Name[uk]=Матдоку 101
Name[x-test]=xxMathdoku 101xx
Description=Size 4x4 grid, with calculated cages
Description[ca]=Mida de quadrícula 4x4, amb grups de cel·les calculades
Description[es]=Rejilla de tamaño 4x4, con jaulas calculadas
Description[gl]=Grade de 4x4 con gaiolas calculadas.
Description[nl]=Grootte 4x4 raster, met berekende kooien
Description[pl]=Siataka w rozmiarze 4x4 z obliczonymi klatkami
Description[pt]=Grelha de tamanho 4x4 com caixas controladas
Description[pt_BR]=Grade de tamanho 4x4 com caixas controladas
Description[sr]=Мрежа 4×4, са израчунатим кавезима
Description[sr@ijekavian]=Мрежа 4×4, са израчунатим кавезима
Description[sr@ijekavianlatin]=Mreža 4×4, sa izračunatim kavezima
Description[sr@latin]=Mreža 4×4, sa izračunatim kavezima
Description[sv]=Storlek 4x4 med beräknade avgränsningar
Description[uk]=Ґратка розміром 4x4, із обчисленими блоками
Description[x-test]=xxSize 4x4 grid, with calculated cagesxx
Author=Ian Wadham
FileName=Mathdoku_4x4.xml
Icon=ksudoku-ksudoku_4x4
