[KSudokuVariant]
Name=Mathdoku - Settable Size
Name[ca]=Mathdoku - Mida definible
Name[ca@valencia]=Mathdoku - Mida definible
Name[de]=MathDoku - Einstellbare Größe
Name[en_GB]=Mathdoku - Settable Size
Name[es]=Mathdoku - Tamaño ajustable
Name[et]=Mathdoku - määratava suurusega
Name[fi]=Mathdoku – asetettava koko
Name[gl]=Mathdoku - Tamaño configurábel
Name[it]=Mathdoku - dimensione regolabile
Name[nl]=Mathdoku - instelbare grootte
Name[nn]=Mattedoku – tilpassa storleik
Name[pl]=Mathdoku - Ustawialny rozmiar
Name[pt]=Matedoku - Tamanho Variável
Name[pt_BR]=Matedoku - Tamanho variável
Name[sk]=Mathdoku - nastaviteľná veľkosť
Name[sl]=Mathdoku - nastavljiva velikost
Name[sr]=Матудоку — подесива величина
Name[sr@ijekavian]=Матудоку — подесива величина
Name[sr@ijekavianlatin]=Matudoku — podesiva veličina
Name[sr@latin]=Matudoku — podesiva veličina
Name[sv]=Mattedoku - Inställningsbar storlek
Name[uk]=Матдоку — змінний розмір
Name[x-test]=xxMathdoku - Settable Sizexx
Description=Size 3x3 to 9x9 grid, with calculated cages
Description[ca]=Mida de quadrícula 3x3 a 9x9, amb caixes calculades
Description[ca@valencia]=Mida de quadrícula 3x3 a 9x9, amb caixes calculades
Description[en_GB]=Size 3x3 to 9x9 grid, with calculated cages
Description[es]=Rejilla de tamaño 3x3 a 9x9, con jaulas calculadas
Description[et]=3x3 kuni 9x9 ruudustiku ja arvutamist nõudvate plokkidega
Description[gl]=Grade de entre 3x3 e 9x9 con gaiolas calculadas.
Description[it]=Griglia di dimensione da 3x3 a 9x9, con riquadri calcolati
Description[nl]=Grootte 3x3 tot 9x9 raster, met berekende vakken
Description[nn]=Rutenett med storleikar frå 3 × 3 til 9 × 9, med bur
Description[pl]=Siatka w rozmiarze od 3x3 do 9x9 z obliczonymi klatkami
Description[pt]=Grelha de 3x3 até 9x9, com caixas calculadas
Description[pt_BR]=Grade de tamanho 3x3 a 9x9 com caixas controladas
Description[sk]=Veľkosť od 3x3 do 9x9, s vypočítanými klietkami
Description[sl]=Mreža velikosti od 3x3 do 9x9 z izračunanimi kletkami
Description[sr]=Мрежа од 3×3 до 9×9, са израчунатим кавезима
Description[sr@ijekavian]=Мрежа од 3×3 до 9×9, са израчунатим кавезима
Description[sr@ijekavianlatin]=Mreža od 3×3 do 9×9, sa izračunatim kavezima
Description[sr@latin]=Mreža od 3×3 do 9×9, sa izračunatim kavezima
Description[sv]=Storlek 3x3 till 9x9 med beräknade avgränsningar
Description[uk]=Ґратка розміром від 3x3 до 9x9, із обчисленими блоками
Description[x-test]=xxSize 3x3 to 9x9 grid, with calculated cagesxx
Author=Ian Wadham
FileName=Mathdoku_Settable.xml
Icon=ksudoku-ksudoku_9x9
