[KSudokuVariant]
Name=Nonomino 9x9
Name[es]=Nonominó 9x9
Name[gl]=Nonomino 9x9
Name[nl]=Nonomino 9x9
Name[pt]=Nonómino 9x9
Name[pt_BR]=Nonominó 9x9
Name[sv]=Nonomino 9x9
Name[uk]=Нономіно 9x9
Name[x-test]=xxNonomino 9x9xx
Name[zh_TW]=Nonomino 9x9
Description=Jigsaw variant with irregularly shaped Nonomino blocks
Description[es]=Variante de rompecabezas con bloques de nonominós de forma irregular
Description[gl]=Variante do puzzle con bloques de Nonomino de formas irregulares
Description[nl]=Legpuzzelvariant met onregelmatig gevormde Nonomino-blokken
Description[pt]=Variante de 'puzzle' com blocos do tipo Nonómino irregulares
Description[pt_BR]=Variante de quebra-cabeça com blocos do tipo Nonominó irregulares
Description[sv]=Pusselversion med oregelbundet formade Nonomino-block
Description[uk]=Варіант мозаїки з блоками нономіно неправильної форми
Description[x-test]=xxJigsaw variant with irregularly shaped Nonomino blocksxx
Description[zh_TW]=拼圖的形狀變化，類似 Nonomino 的區塊
Author=Ian Wadham
FileName=Nonomino.xml
Icon=ksudoku-jigsaw
