[KSudokuVariant]
Name=Pentomino 5x5
Name[bs]=Pentomino 5x5
Name[ca]=Pentomino 5x5
Name[ca@valencia]=Pentomino 5x5
Name[da]=Pentomino 5x5
Name[de]=Pentomino 5x5
Name[el]=Pentomino 5x5
Name[en_GB]=Pentomino 5x5
Name[es]=Pentominó 5x5
Name[et]=Pentomino 5x5
Name[eu]=Pentominoa 5x5
Name[fi]=Pentomino 5 × 5
Name[fr]=Pentomino 5 x 5
Name[gl]=Pentomino 5x5
Name[hu]=Pentomino 5x5
Name[it]=Pentamino 5x5
Name[kk]=Пентомино 5x5
Name[km]=Pentomino 5x5
Name[ko]=펜토미노 5x5
Name[lv]=Pentomino 5x5
Name[ml]=പെന്റോമിനോ 5x5
Name[mr]=पेंटोमिनो 5x5
Name[nb]=Pentomino 5×5
Name[nds]=Pentomino 5x5
Name[nl]=Pentomino 5x5
Name[nn]=Pentomino 5 × 5
Name[pl]=Pentomino 5x5
Name[pt]=Pentómino 5z5
Name[pt_BR]=Pentaminó 5x5
Name[ro]=Pentomino 5x5
Name[ru]=Пентомино 5x5
Name[sk]=Pentomino 5x5
Name[sl]=Pentomino 5x5
Name[sr]=Пентоминска 5×5
Name[sr@ijekavian]=Пентоминска 5×5
Name[sr@ijekavianlatin]=Pentominska 5×5
Name[sr@latin]=Pentominska 5×5
Name[sv]=Pentomino 5x5
Name[tr]=Pentomino 5x5
Name[uk]=Пентоміно 5x5
Name[zh_CN]=五连块 5x5
Name[zh_TW]=Pentomino 5x5
Description=Jigsaw variant with irregularly shaped Pentomino blocks
Description[bs]=Varijanta slagalice sa neravnomjerno oblikovanim Pentomino blokovima
Description[ca]=Variant de puzle amb forma de blocs pentomino irregulars
Description[ca@valencia]=Variant de puzle amb forma de blocs pentomino irregulars
Description[da]=Puslespilsvariant med uregelmæssigt formede Pentomono-blokke
Description[de]=Stichsägen-Variante mit unregelmäßig geformten 5er-Blöcken
Description[el]=Παραλλαγή jigsaw με ακανόνιστου σχήματος τμήματα Pentomino
Description[en_GB]=Jigsaw variant with irregularly shaped Pentomino blocks
Description[es]=Variante de rompecabezas con bloques de pentominós de forma irregular
Description[et]=Pentomino ebareeglipäraste plokkidega sudoku
Description[eu]=Koskadun aldaera forma irregularreko Pentomino blokeekin
Description[fi]=Palapelimuunnelma, jossa on epäsäännöllisen muotoisia Pentomino-osaruudukoita
Description[fr]=Variante du puzzle sous la forme de blocs « Pentomino » à formes irrégulières
Description[gl]=Variante do quebracabezas con bloques de Pentomino de formas irregulares
Description[hu]=Kirakóváltozat szabálytalan alakú Pentomino kockákkal
Description[it]=Variante di puzzle formata da blocchi irregolari Pentamino
Description[kk]=Түрлі қалыпты пентомино тастардан жиналатын қиыстырма
Description[km]=ល្បែង​ផ្គុំរូប​ដែល​មាន​រាង​ដូច​ប្លុក Pentomino
Description[ko]=불규칙한 모양 펜토미노 블록이 있는 직소 파생형
Description[lv]=Puzles variants ar neregulāras formas Pentomino blokiem
Description[ml]=ക്രമരഹിതമായ ആകൃതിയിലുള്ള പെന്റോമിനോ ബ്ലോക്കുകളുള്ള ജിഗ്‌സോ വേരിയൻറ്
Description[nb]=Puslespillvariant med irregulære Pentomino-brikker
Description[nds]=Pussel mit nich symmetersch Pentomino-Blöck
Description[nl]=Legpuzzelvariant met onregelmatig gevormde Pentomino-blokken
Description[nn]=Puslespelvariant med irregulære pentominobrikker
Description[pl]=Wariant układanki z nieregularnie ukształtowanymi blokami Pentomino
Description[pt]=Variante de 'puzzle' com blocos do tipo Pentómino irregulares
Description[pt_BR]=Variante de quebra-cabeça com blocos do tipo Pentaminó irregulares
Description[ru]=Мозаика с блоками неправильной формы из 5 клеток
Description[sk]=Variant puzzle s nepravidelne tvarovanými blokmi Pentomino
Description[sl]=Različica sestavljanke z nesimetričnimi Pentomino kosi
Description[sr]=Тестераста варијанта са неправилно обликованим пентоминским блоковима
Description[sr@ijekavian]=Тестераста варијанта са неправилно обликованим пентоминским блоковима
Description[sr@ijekavianlatin]=Testerasta varijanta sa nepravilno oblikovanim pentominskim blokovima
Description[sr@latin]=Testerasta varijanta sa nepravilno oblikovanim pentominskim blokovima
Description[sv]=Pusselversion med oregelbundet formade Pentomino-block
Description[tr]=Pentomino blokları ile düzensiz şekillenmiş bulmaca çeşidi
Description[uk]=Варіант мозаїки з блоками пентоміно неправильної форми
Description[zh_CN]=不规则形状的五格骨牌拼图
Description[zh_TW]=拼圖的形狀變化，類似 Pentomino 的區塊
Author=Ian Wadham
FileName=Pentomino.xml
Icon=ksudoku-jigsaw
