[KSudokuVariant]
Name=Roxdoku Twin
Name[pt]=Roxdoku Gémeo
Name[pt_BR]=Roxdoku Gêmeo
Name[sv]=Roxdoku-tvilling
Name[uk]=Роксудоку-близнюки
Name[x-test]=xxRoxdoku Twinxx
Description=Three-dimensional puzzle with two 3x3x3 cubes which share a corner
Description[pt]='Puzzle' tridimensional com dois cubos 3x3x3 que partilham um canto
Description[sv]=Tredimensionellt spel med två 3x3x3 kuber som delar ett hörn
Description[uk]=Тривимірна головоломка з двома кубічними частинами 3⨯3⨯3, що перетинаються кутом
Description[x-test]=xxThree-dimensional puzzle with two 3x3x3 cubes which share a cornerxx
Author=Ian Wadham
FileName=RoxdokuTwin.xml
Icon=ksudoku-roxdoku_3x3x3
