[KSudokuVariant]
Name=Roxdoku Twin
Name[ca]=Roxdoku bessó
Name[da]=Roxdoku-tvilling
Name[de]=Roxdoku-Zwilling
Name[el]=Roxdoku Twin
Name[es]=Roxdoku gemelos
Name[et]=Kaksik-Roxdoku
Name[fr]=Jumeaux Roxdoku
Name[gl]=Roxdoku Xemelgo
Name[hu]=Roxdoku Twin
Name[it]=Roxdoku Twin
Name[kk]=Егіз роксудоку
Name[km]=Roxdoku Twin
Name[lv]=Dvīņu Roksdoku
Name[nl]=Roxdoku Twin
Name[pl]=Bliźniacze Roxdoku
Name[pt]=Roxdoku Gémeo
Name[pt_BR]=Roxdoku Gêmeo
Name[sk]=Roxdoku Twin
Name[sl]=Dvojček Roxdoku
Name[sr]=Близаначки роксдоку
Name[sr@ijekavian]=Близаначки роксдоку
Name[sr@ijekavianlatin]=Blizanački roksdoku
Name[sr@latin]=Blizanački roksdoku
Name[sv]=Roxdoku-tvilling
Name[uk]=Роксудоку-близнюки
Name[x-test]=xxRoxdoku Twinxx
Name[zh_TW]=Roxdoku Twin
Description=Three-dimensional puzzle with two 3x3x3 cubes which share a corner
Description[ca]=Trencaclosques tridimensional amb dos cubs de 3x3x3 amb un vèrtex compartit
Description[da]=Tredimensional opgave med to 3x3x3-terninger som har et hjørne til fælles
Description[de]=Dreidimensionales Rätsel, bei dem zwei 3x3x3-Würfel eine gemeinsame Ecke haben
Description[el]=Τρισδιάστατο παζλ με δύο 3x3x3 κύβους που μοιράζονται την ίδια γωνία
Description[es]=Rompecabezas tridimensional con dos cubos de 3x3x3 que comparten una esquina
Description[et]=Kolmemõõtmeline sudoku kahe nurkapidi kokkupuutuva 3x3x3 kuubikuga
Description[fr]=Puzzle en trois dimensions avec deux cubes 3x3x3 partageant un côté
Description[gl]=Quebracabezas tridimensional con dous cubos de 3x3x3 que comparten unha esquina
Description[hu]=Háromdimenziós kirakó két 3x3x3-as kockával, amelyeknek közös a sarkuk
Description[it]=Rompicapo tridimensionale con due cubi 3x3x3 che condividono un angolo
Description[kk]=Бұрышы ортак екі x3x3 текшелерден құрылған үш өлшемді басқатырғыш
Description[km]=ល្បែង​ផ្គុំរូបវិមាត្រ​បី​ដែល​មាន​គូប​ជ្រុង 3x3x3 ពីរ
Description[lv]=Trīsdimensionāla mīkla ar diviem 3x3x3 kubiem, kuriem ir kopīgs stūris
Description[nl]=Driedimensionale puzzel met twee 3x3x3 kubussen die een hoek delen
Description[pl]=Trójwymiarowe puzzle z dwoma kostkami 3x3x3, które współdzielą narożnik
Description[pt]='Puzzle' tridimensional com dois cubos 3x3x3 que partilham um canto
Description[pt_BR]=Quebra-cabeça tridimensional com dois cubos 3x3x3 que compartilham um canto
Description[sl]=Tridimenzionalna sestavljanka z dvema kockama 3x3x3, ki si delita kot
Description[sr]=Тродимензионална слагалица са две 3×3×3 коцке са заједничким углом
Description[sr@ijekavian]=Тродимензионална слагалица са две 3×3×3 коцке са заједничким углом
Description[sr@ijekavianlatin]=Trodimenzionalna slagalica sa dve 3×3×3 kocke sa zajedničkim uglom
Description[sr@latin]=Trodimenzionalna slagalica sa dve 3×3×3 kocke sa zajedničkim uglom
Description[sv]=Tredimensionellt spel med två 3x3x3 kuber som delar ett hörn
Description[uk]=Тривимірна головоломка з двома кубічними частинами 3⨯3⨯3, що перетинаються кутом
Description[x-test]=xxThree-dimensional puzzle with two 3x3x3 cubes which share a cornerxx
Description[zh_TW]=兩個共用一角但互鎖的 3x3x3 立方體的謎題
Author=Ian Wadham
FileName=RoxdokuTwin.xml
Icon=ksudoku-roxdoku_3x3x3
