[KSudokuVariant]
Encoding=UTF-8
Name=Samurai
Name[el]=Σαμουράι
Name[ja]=サムライ
Name[te]=సమురై
Name[uk]=Самурай
Description=Samurai shape puzzle
Description[el]=Παζλ σχήματος Σαμουράι
Description[es]=Rompecabezas al estilo Samurai
Description[fa]=معمای شکل Samurai
Description[ja]=サムライ型パズル
Description[pt]=Puzzle com o formato de samurai
Description[pt_BR]=Puzzle com o formato de samurai
Description[sv]=Samurai-format spel
Description[zh_TW]=武士式謎題
Author=Francesco Rossi
FileName=Samurai.xml
