[KSudokuVariant]
Name=Samurai
Name[el]=Σαμουράι
Name[eo]=Samurajo
Name[ga]=Samúraí
Name[ja]=サムライ
Name[km]=សាមូរ៉ៃ
Name[ko]=사무라이
Name[lv]=Samurajs
Name[ne]=सामुराइ
Name[pl]=Samuraj
Name[sl]=Samuraj
Name[te]=సమురై
Name[uk]=Самурай
Name[x-test]=xxSamuraixx
Name[zh_CN]=侍
Description=Samurai shape puzzle
Description[ca]=Trencaclosques amb forma de Samurai
Description[da]=Samurai-formet puslespil
Description[de]=Samurai förmiges Rätsel
Description[el]=Παζλ σχήματος Σαμουράι
Description[eo]=Samuraja puzlo
Description[es]=Rompecabezas al estilo Samurai
Description[et]=Samuraikujuline sudoku
Description[fa]=معمای شکل Samurai
Description[fi]=Samurai-muotoinen pulma
Description[fr]=Puzzle Samurai
Description[ga]=Puzal ar dhéanamh samúraí
Description[gl]=Quebracabezas con forma de Samurai
Description[it]=Formato dello schema Samurai
Description[ja]=サムライ型パズル
Description[km]=ផ្គុំ​រូបរាង​សាមូរ៉ៃ
Description[ko]=사무라이 모양 퍼즐
Description[lv]=Samuraja formas laukums
Description[nds]=Samurai-Radels
Description[ne]=सामुराइ आकार पजल
Description[nl]=Samurai-vormige puzzel
Description[nn]=Samurai-brett
Description[pl]=Układanka w kształcie samuraja
Description[pt]=Puzzle com o formato de samurai
Description[pt_BR]=Quebra-cabeça em formato Samurai
Description[sl]=Uganka v obliki Samuraja
Description[sv]=Samurai-format spel
Description[uk]=Головоломка з частинок "Самурай"
Description[x-test]=xxSamurai shape puzzlexx
Description[zh_CN]=侍谜题
Description[zh_TW]=武士式謎題
Author=Francesco Rossi
FileName=Samurai.xml
Icon=ksudoku-samurai
