[KSudokuVariant]
Name=Samurai Roxdoku
Name[bs]=Samuraj Roxdoku
Name[ca]=Roxdoku samurai
Name[ca@valencia]=Roxdoku samurai
Name[da]=Samurai Roxdoku
Name[de]=Samurai-Roxdoku
Name[el]=Samurai Roxdoku
Name[en_GB]=Samurai Roxdoku
Name[es]=Roxdoku samurái
Name[et]=Samurai-Roxdoku
Name[eu]=Samurai Roxdokua
Name[fi]=Samurai Roxdoku
Name[fr]=Samurai Roxdoku
Name[ga]=Samurai Roxdoku
Name[gl]=Samurai Roxdoku
Name[hu]=Szamuráj Roxdoku
Name[it]=Roxdoku Samurai
Name[kk]=Самурай роксудоку
Name[km]=Samurai Roxdoku
Name[ko]=사무라이 록스도쿠
Name[lv]=Samuraja Roksdoku
Name[ml]=സമുറായ് റോക്‌സ്‌ഡോകു
Name[nb]=Samurai Roxdoku
Name[nds]=Samurai-Roxdoku
Name[nl]=Samurai Roxdoku
Name[nn]=Samurai-roxdoku
Name[pl]=Samuraj Roxdoku
Name[pt]=Roxdoku Samurai
Name[pt_BR]=Roxdoku Samurai
Name[ru]=Самурайское роксдоку
Name[sk]=Samuraj Roxdoku
Name[sl]=Samurajev Roxdoku
Name[sr]=Самурајски роксдоку
Name[sr@ijekavian]=Самурајски роксдоку
Name[sr@ijekavianlatin]=Samurajski roksdoku
Name[sr@latin]=Samurajski roksdoku
Name[sv]=Samurai Roxdoku
Name[tr]=Samuray Roxdoku
Name[uk]=Самурайське роксдоку
Name[x-test]=xxSamurai Roxdokuxx
Name[zh_CN]=武士数独魔方
Name[zh_TW]=Samurai Roxdoku
Description=Samurai three-dimensional puzzle with nine 3x3x3 cubes
Description[bs]=Samuraj trodimenzionalna slagalica s devet 3x3x3 kocki
Description[ca]=Trencaclosques samurai tridimensional amb nou cubs 3x3x3
Description[ca@valencia]=Trencaclosques samurai tridimensional amb nou cubs 3x3x3
Description[da]=Tredimensional samuraiopgave med ni 3x3x3-terninger
Description[de]=Dreidimensionales Samurai-Sudoku mit neun 3x3x3-Würfeln
Description[el]=Samurai τρισδιάστατο παζλ με εννέα 3x3x3 κύβους
Description[en_GB]=Samurai three-dimensional puzzle with nine 3x3x3 cubes
Description[es]=Rompecabezas tridimensional samurái con nueve cubos de 3x3x3
Description[et]=Kolmemõõtmeline samurai üheksa 3x3x3 kuubikuga
Description[eu]=Samurai hiru dimentsioko buru-hausgarria 3x3x3ko 9 kuborekin
Description[fi]=Kolmiulotteinen samurai-peli, jossa on yhdeksän 3 × 3 × 3 -kuutiota
Description[fr]=Puzzle à trois dimensions comprenant neuf cubes 3 x 3 x 3
Description[gl]=Quebracabezas tridimensional Samurai con nove cubos de 3x3x3
Description[hu]=Szamuráj háromdimenziós kirakó kilenc 3x3x3-as kockával
Description[it]=Rompicapo tridimensionale Samurai con nove cubi 3x3x3
Description[kk]=Самурай - тоғыз 3x3x3 текшелерден құрылған үш өлшемді басқатырғыш
Description[km]=ល្បែងផ្គុំរូប​សាម៉ូរៃ​វិមាត្រ​បី​ដែល​មាន​គូប 3x3x3 ប្រាំបួន
Description[ko]=3x3x3 큐브 9개가 있는 사무라이 3차원 퍼즐
Description[lv]=Samuraja trīsdimensionāla mīkla ar deviņiem 3x3x3 kubiem
Description[ml]=ഒമ്പത് 3x3x3 ക്യൂബുകളുള്ള സമുറായ് ത്രിമാന പസിൽ
Description[nb]=Samurai tredimensjonalt spill med ni 3×3×3-terninger
Description[nds]=En dreedimschnonaal Samurai-Radel mit negen 3x3x3-Wörpels
Description[nl]=Samurai driedimensionale puzzel met negen 3x3x3 kubussen
Description[nn]=Samuraiforma tredimensjonalt brett med ni 3 × 3 × 3-terningar
Description[pl]=Trójwymiarowe puzzle samuraj z dziewięcioma kostkami 3x3x3
Description[pt]='Puzzle' tridimensional com nove cubos 3x3x3
Description[pt_BR]=Quebra-cabeça tridimensional com nove cubos 3x3x3
Description[ru]=Самурайская трёхмерная головоломка с девятью кубами 3x3x3
Description[sk]=Samurajské trojrozmerné puzzle s deviatimi kockami 3x3x3
Description[sl]=Tridimenzionalna sestavljanka samuraja z devetimi kockami 3x3x3
Description[sr]=Самурајска тродимензионална слагалица са девет 3×3×3 коцки
Description[sr@ijekavian]=Самурајска тродимензионална слагалица са девет 3×3×3 коцки
Description[sr@ijekavianlatin]=Samurajska trodimenzionalna slagalica sa devet 3×3×3 kocki
Description[sr@latin]=Samurajska trodimenzionalna slagalica sa devet 3×3×3 kocki
Description[sv]=Samurai tredimensionellt spel med nio 3x3x3 kuber
Description[tr]=Dokuz 3x3x3 küple 3 boyutlu Samuray bulmacası
Description[uk]=Самурайська тривимірна головоломка з дев’ятьма кубічними частинами 3⨯3⨯3
Description[x-test]=xxSamurai three-dimensional puzzle with nine 3x3x3 cubesxx
Description[zh_CN]=九个3x3x3立方体组成的三维武士数独
Description[zh_TW]=武士型，三維，有九個 3x3x3 立方體的謎題
Author=Ian Wadham
FileName=SamuraiRoxdoku.xml
Icon=ksudoku-roxdoku_3x3x3
