[KSudokuVariant]
Encoding=UTF-8
Name=Samurai
Name[el]=Σαμουράι
Name[ja]=サムライ
Name[ne]=सामुराइ
Name[te]=సమురై
Name[uk]=Самурай
Name[zh_CN]=侍
Description=Samurai shape puzzle
Description[de]=Samurai förmiges Rätsel
Description[el]=Παζλ σχήματος Σαμουράι
Description[es]=Rompecabezas al estilo Samurai
Description[fa]=معمای شکل Samurai
Description[ja]=サムライ型パズル
Description[ne]=सामुराइ आकार पजल
Description[nl]=Samurai-vormige puzzel
Description[pt]=Puzzle com o formato de samurai
Description[pt_BR]=Puzzle com o formato de samurai
Description[sv]=Samurai-format spel
Description[zh_CN]=侍谜题
Description[zh_TW]=武士式謎題
Author=Francesco Rossi
FileName=Samurai.xml
