[KSudokuVariant]
Name=Sohei
Name[uk]=Сохей
Name[x-test]=xxSoheixx
Description=Sohei puzzle with four overlapping 9x9 squares
Description[uk]=Варіант сохей з чотирма квадратами 9x9, що перекриваються
Description[x-test]=xxSohei puzzle with four overlapping 9x9 squaresxx
Author=Ian Wadham
FileName=Sohei.xml
Icon=ksudoku-samurai
