[KSudokuVariant]
Name=Sohei
Name[de]=Sohei
Name[es]=Sohei
Name[et]=Sohei
Name[gl]=Sohei
Name[hu]=Sohei
Name[km]=Sohei
Name[lv]=Sohei
Name[nl]=Sohei
Name[pl]=Sohei
Name[pt]=Sohei
Name[pt_BR]=Sohei
Name[sl]=Sohei
Name[sr]=Сохејска
Name[sr@ijekavian]=Сохејска
Name[sr@ijekavianlatin]=Sohejska
Name[sr@latin]=Sohejska
Name[sv]=Sohei
Name[uk]=Сохей
Name[x-test]=xxSoheixx
Name[zh_TW]=Sohei
Description=Sohei puzzle with four overlapping 9x9 squares
Description[de]=Sohei-Rätsel mit vier 9x9-Quadraten, die sich überlappen
Description[es]=Rompecabezas sohei con cuatro cuadrados de 9x9 superpuestos
Description[et]=Sohei nelja kattuva 9x9 ruudustikuga
Description[gl]=Puzzle sohei con catro cadrados 9x9 que se sobrepoñen
Description[hu]=Sohei kirakó négy átfedő 9x9-es négyzettel
Description[km]=ល្បែង​ផ្គុំរូប Sohei ដែល​មាន​ការេ​ 9x9 ត្រួតគ្នា​បួន
Description[lv]=Sohei mīkla ar četriem 9x9 kvadrātiem, kas pārklājas
Description[nl]=Sohei puzzel met vier overlappende 9x9 vierkanten
Description[pl]=Puzzle Sohei z czterema zachodzącymi na siebie kwadratami 9x9
Description[pt]='Puzzle' Sohei com quatro quadrados 9x9 sobrepostos
Description[pt_BR]=Quebra-cabeça Sohei com quatro quadrados 9x9 sobrepostos
Description[sl]=Sestavljanka Sohei z štirimi, prekrivajočimi se 9x9 kvadrati
Description[sr]=Сохејска слагалица са четири преклопљена 9×9 квадрата
Description[sr@ijekavian]=Сохејска слагалица са четири преклопљена 9×9 квадрата
Description[sr@ijekavianlatin]=Sohejska slagalica sa četiri preklopljena 9×9 kvadrata
Description[sr@latin]=Sohejska slagalica sa četiri preklopljena 9×9 kvadrata
Description[sv]=Sohei-pussel med fyra överlappande 9x9 kvadrater
Description[uk]=Варіант сохей з чотирма квадратами 9x9, що перекриваються
Description[x-test]=xxSohei puzzle with four overlapping 9x9 squaresxx
Description[zh_TW]=四個相疊的 9x9 方塊
Author=Ian Wadham
FileName=Sohei.xml
Icon=ksudoku-samurai
