[KSudokuVariant]
Name=Tetromino 4x4
Name[bs]=Tetromino 4x4
Name[ca]=Tetromino 4x4
Name[ca@valencia]=Tetromino 4x4
Name[da]=Tetromino 4x4
Name[de]=Tetromino 4x4
Name[el]=Tetromino 4x4
Name[en_GB]=Tetromino 4x4
Name[es]=Tetrominó 4x4
Name[et]=Tetromino 4x4
Name[fi]=Tetromino 4 × 4
Name[fr]=Tetromino 4 x 4
Name[ga]=Tetromino 4x4
Name[gl]=Tetromino 4x4
Name[hu]=Tetromino 4x4
Name[it]=Tetramino 4x4
Name[kk]=Тетрамино 4x4
Name[km]=Tetromino 4x4
Name[ko]=테트로미노 4x4x4
Name[lv]=Tetromino 4x4
Name[mr]=टेट्रोमिनो 4x4
Name[nb]=Tetromino 4×4
Name[nds]=Tetromino 4x4
Name[nl]=Tetromino 4x4
Name[nn]=Tetromino 4 × 4
Name[pl]=Tetromino 4x4
Name[pt]=Tetrómino 4x4
Name[pt_BR]=Tetraminó 4x4
Name[ro]=Tetromino 4x4
Name[ru]=Тетромино 4x4
Name[sk]=Tetromino 4x4
Name[sl]=Tetromino 4x4
Name[sr]=Тетроминска 4×4
Name[sr@ijekavian]=Тетроминска 4×4
Name[sr@ijekavianlatin]=Tetrominska 4×4
Name[sr@latin]=Tetrominska 4×4
Name[sv]=Tetromino 4x4
Name[tr]=Tetromino 4x4
Name[uk]=Тетроміно 4x4
Name[x-test]=xxTetromino 4x4xx
Name[zh_CN]=4x4 四格骨牌
Name[zh_TW]=Tetromino 4x4
Description=Jigsaw with Tetromino blocks (Tetris pieces)
Description[bs]=Slagalica sa Tetromino blokovima (Tetris komadi)
Description[ca]=Puzle amb blocs tetromino (peces de Tetris)
Description[ca@valencia]=Puzle amb blocs tetromino (peces de Tetris)
Description[da]=Puslespil med Tetromino-blokke (Tetris-brikker)
Description[de]=Stichsägen-Variante mit 4er-Blöcken (Tetris-Steine)
Description[el]=Παζλ με τμήματα Tetromino (κομμάτια Tetris)
Description[en_GB]=Jigsaw with Tetromino blocks (Tetris pieces)
Description[es]=Rompecabezas con bloques de tetrominós (piezas de Tetris)
Description[et]=Tetromino plokkidega (Tetrise tükkidega) sudoku
Description[fi]=Peli Tetromino-osaruudukoilla (Tetriksen paloilla)
Description[fr]=Puzzle à blocs « Tetromino » (pièces du Tétris)
Description[gl]=Quebracabezas con bloques do Tetromino (pezas do Tetris)
Description[hu]=Kirakó Tetromino kockákkal (Tetris darabok)
Description[it]=Puzzle con blocchi Tetramino (pezzi di Tetris)
Description[kk]=Тетрамино (Тетрис) тастарынан құрылатын қиыстырма
Description[km]=ល្បែង​ផ្គុំរូប​ដែល​មាន​ប្លុក Tetromino (ផ្ទាំង Tetris)
Description[ko]=테트로미노 블록(테트리스 조각)이 있는 직소
Description[lv]=Mīkla ar Tetromino blokiem (Tetris gabaliņiem)
Description[nb]=Puslespillvariant med Tetromino-brikker (Tetris-brikker)
Description[nds]=Pussel mit Tetromino-Blöck (Tetris-Stücken)
Description[nl]=Legpuzzel met Tetromino-blokken (Tetris-blokjes)
Description[nn]=Puslespelvariant med tetrominobrikker (Tetris-brikker)
Description[pl]=Układanka z blokami Tetromino (bloki Tetris)
Description[pt]='Puzzle' com blocos de Tetrómino (peças de Tetris)
Description[pt_BR]=Quebra-cabeça com blocos de Tetraminó (peças de Tetris)
Description[ru]=Мозаика с блоками тетриса
Description[sk]=Puzzle s blokmi Tetromino (kúsky Tetris)
Description[sl]=Sestavljanka s kosi Tetromino (kosi tetrisa)
Description[sr]=Тестераста слагалица са тетроминским блоковима (фигуре из тетриса)
Description[sr@ijekavian]=Тестераста слагалица са тетроминским блоковима (фигуре из тетриса)
Description[sr@ijekavianlatin]=Testerasta slagalica sa tetrominskim blokovima (figure iz tetrisa)
Description[sr@latin]=Testerasta slagalica sa tetrominskim blokovima (figure iz tetrisa)
Description[sv]=Pussel med Tetromino-block (Tetris-bitar)
Description[tr]=Tetromino bloklu bulmaca (Tetris parçaları)
Description[uk]=Мозаїка з блоків тетроміно (подібних до блоків у тетрісі)
Description[x-test]=xxJigsaw with Tetromino blocks (Tetris pieces)xx
Description[zh_CN]=四格骨牌拼图游戏(俄罗斯方块)
Description[zh_TW]=Tetromino 區塊（俄羅斯方塊式）的拼圖
Author=Ian Wadham
FileName=Tetromino.xml
Icon=ksudoku-ksudoku_4x4
