[KSudokuVariant]
Name=Tiny Samurai
Name[ast]=Samurai pequeño
Name[bs]=Mršavi samuraj
Name[ca]=Petit samurai
Name[ca@valencia]=Petit samurai
Name[cs]=Malý samuraj
Name[da]=Lille samurai
Name[de]=Kleiner Samurai
Name[el]=Μικροσκοπικός Σαμουράι
Name[en_GB]=Tiny Samurai
Name[eo]=Samurajeto
Name[es]=Samurai pequeño
Name[et]=Väike samurai
Name[eu]=Samurai txikia
Name[fa]=سامورایی کوچک
Name[fi]=Pikku-Samurai
Name[fr]=Petit Samurai
Name[ga]=Samúraí An-Bheag
Name[gl]=Samurai pequeno
Name[hne]=नन्हा समुराई
Name[hu]=Mini szamuráj
Name[it]=Piccolo samurai
Name[ja]=ミニサムライ
Name[km]=សាមូរ៉ៃ​តូច
Name[ko]=작은 사무라이
Name[lt]=Mažas samurajus
Name[lv]=Maziņš samurajs
Name[nb]=Liten samurai
Name[nds]=Lütt Samurai
Name[nl]=Kleine Samurai
Name[nn]=Liten samurai
Name[pl]=Mały samuraj
Name[pt]=Samurai Pequeno
Name[pt_BR]=Samurai pequenino
Name[ro]=Micul samurai
Name[ru]=Маленький самурай
Name[sk]=Malý samuraj
Name[sl]=Majhen samuraj
Name[sr]=Мали самурај
Name[sr@ijekavian]=Мали самурај
Name[sr@ijekavianlatin]=Mali samuraj
Name[sr@latin]=Mali samuraj
Name[sv]=Liten Samurai
Name[te]=చిన్న సమురై
Name[tr]=Tiny Samurai
Name[uk]=Маленький самурай
Name[wa]=Pitit Samuray
Name[x-test]=xxTiny Samuraixx
Name[zh_CN]=小型侍
Name[zh_TW]=Tiny Samurai
Description=A smaller samurai puzzle
Description[ast]=Un pequeñu frañetiestes de samurai
Description[bs]=Manja samuraj slagalica
Description[ca]=Un trencaclosques samurai petit
Description[ca@valencia]=Un trencaclosques samurai petit
Description[cs]=Hádanka ve tvaru samuraje
Description[da]=Et mindre samurai-puslespil
Description[de]=Ein kleineres Samurai-Rätsel.
Description[el]=Ένα μικρότερο παζλ Σαμουράι
Description[en_GB]=A smaller samurai puzzle
Description[eo]=Pli malgranda samuraja puzlo
Description[es]=Un pequeño rompecabezas de samurai
Description[et]=Väiksem samuraikujuline sudoku
Description[eu]=Samurai formako buruhasukarri txikia
Description[fa]=یک پازل کوچک‌تر سامورایی
Description[fi]=Pienempi samurai-pulma
Description[fr]=Un puzzle Samurai plus petit
Description[ga]=Puzal samúraí níos lú
Description[gl]=Un pequeno quebracabezas con forma de samurai
Description[hu]=Kisebb méretű szamurájos játék
Description[it]=Uno schema samurai più piccolo
Description[ja]=小さいサイズのサムライ型パズル
Description[km]=ល្បែង​ផ្គុំ​រូប​សាមូរ៉ៃ​តូច
Description[ko]=작은 사무라이 퍼즐
Description[lt]=Mažesnis samurajaus formos galvosūkis
Description[lv]=Maziņa samuraja formas laukums
Description[nb]=Et mindre samuraibrett
Description[nds]=En lütter Samurai-Radels
Description[nl]=Een kleinere Samurai-puzzel
Description[nn]=Eit mindre samuraibrett
Description[pl]=Mniejsza układanka w kształcie samuraja
Description[pt]=Um 'puzzle' Samurai mais pequeno
Description[pt_BR]=Quebra-cabeça em formato Samurai reduzido
Description[ru]=Малюсенькая самурайская головоломка
Description[sk]=Malé puzzle v tvare samuraja
Description[sl]=Manjša uganka v obliki samuraja
Description[sr]=Мања самурајска слагалица
Description[sr@ijekavian]=Мања самурајска слагалица
Description[sr@ijekavianlatin]=Manja samurajska slagalica
Description[sr@latin]=Manja samurajska slagalica
Description[sv]=Ett mindre Samuraispel
Description[tr]=Daha ufak bir samurai bulmacası
Description[uk]=Менша головоломка «Самурай»
Description[x-test]=xxA smaller samurai puzzlexx
Description[zh_CN]=小型的侍谜题
Description[zh_TW]=小型武士式謎題
Author=Francesco Rossi
FileName=TinySamurai.xml
Icon=ksudoku-tiny_samurai
