[KSudokuVariant]
Encoding=UTF-8
Name=Tiny Samurai
Name[de]=Kleiner Samurai
Name[el]=Μικροσκοπικό Σαμουράι
Name[es]=Samurai pequeño
Name[ga]=Samurai An-Bheag
Name[ja]=ミニサムライ
Name[nl]=Kleine Samurai
Name[pt]=Samurai Pequeno
Name[pt_BR]=Samurai Pequeno
Name[sv]=Liten Samurai
Name[x-test]=xxTiny Samuraixx
Description=A smaller samurai puzzle
Description[de]=Ein kleineres Samurai Rätsel
Description[el]=Ένα μικρότερο παζλ Σαμουράι
Description[es]=Un pequeño rompecabezas de samurai
Description[ja]=小さいサイズのサムライ型パズル
Description[nl]=Een kleinere Samurai-puzzel
Description[pt]=Um 'puzzle' Samurai mais pequeno
Description[pt_BR]=Um 'puzzle' Samurai mais pequeno
Description[sv]=Ett mindre Samuraispel
Description[x-test]=xxA smaller samurai puzzlexx
Description[zh_TW]=小型武士式謎題
Author=Francesco Rossi
FileName=TinySamurai.xml
Icon=ksudoku-tiny_samurai
