[KSudokuVariant]
Name=Tiny Samurai
Name[ca]=Petit samurai
Name[da]=Lille samurai
Name[de]=Kleiner Samurai
Name[el]=Μικροσκοπικό Σαμουράι
Name[eo]=Samurajeto
Name[es]=Samurai pequeño
Name[et]=Väike samurai
Name[fa]=سامورایی کوچک
Name[fi]=Pikku-Samurai
Name[fr]=Petit Samurai
Name[ga]=Samúraí An-Bheag
Name[it]=Piccolo samurai
Name[ja]=ミニサムライ
Name[km]=សាមូរ៉ៃ​តូច
Name[ko]=작은 사무라이
Name[lv]=Maziņš samurajs
Name[nds]=Lütt Samurai
Name[nl]=Kleine Samurai
Name[nn]=Liten samurai
Name[pl]=Mały samuraj
Name[pt]=Samurai Pequeno
Name[pt_BR]=Samurai pequenino
Name[sl]=Majhen samuraj
Name[sv]=Liten Samurai
Name[uk]=Маленький Самурай
Name[x-test]=xxTiny Samuraixx
Name[zh_CN]=小型侍
Description=A smaller samurai puzzle
Description[ca]=Un trencaclosques samurai petit
Description[da]=Et mindre samurai-puslespil
Description[de]=Ein kleineres Samurai Rätsel
Description[el]=Ένα μικρότερο παζλ Σαμουράι
Description[eo]=Pli malgranda samuraja puzlo
Description[es]=Un pequeño rompecabezas de samurai
Description[et]=Väiksem samuraikujuline sudoku
Description[fa]=یک پازل کوچک‌تر سامورایی
Description[fi]=Pienempi samurai-pulma
Description[fr]=Un puzzle Samurai plus petit
Description[ga]=Puzal samúraí níos lú
Description[it]=Uno schema samurai più piccolo
Description[ja]=小さいサイズのサムライ型パズル
Description[km]=ល្បែង​ផ្គុំ​រូប​សាមូរ៉ៃ​តូច
Description[ko]=작은 사무라이 퍼즐
Description[lv]=Maziņa samuraja formas laukums
Description[nds]=En lütter Samurai-Radels
Description[nl]=Een kleinere Samurai-puzzel
Description[nn]=Eit mindre samuraibrett
Description[pl]=Mniejsza układanka w kształcie samuraja
Description[pt]=Um 'puzzle' Samurai mais pequeno
Description[pt_BR]=Quebra-cabeça em formato Samurai reduzido
Description[sl]=Manjša uganka v obliki samuraja
Description[sv]=Ett mindre Samuraispel
Description[uk]=Менша головоломка "Самурай"
Description[x-test]=xxA smaller samurai puzzlexx
Description[zh_CN]=小型的侍谜题
Description[zh_TW]=小型武士式謎題
Author=Francesco Rossi
FileName=TinySamurai.xml
Icon=ksudoku-tiny_samurai
