[KSudokuVariant]
Name=Windmill
Name[bs]=Vjetrenjača
Name[ca]=Molinet
Name[ca@valencia]=Molinet
Name[cs]=Větrný mlýn
Name[da]=Vindmølle
Name[de]=Windmühle
Name[el]=Windmill
Name[en_GB]=Windmill
Name[es]=Molino de viento
Name[fi]=Tuulimylly
Name[fr]=Windmill
Name[gl]=Muíño de Vento
Name[hu]=Szélmalom
Name[it]=Mulino a vento
Name[kk]=Жел диірмені
Name[km]=Windmill
Name[ko]=풍차
Name[lv]=Vējdzirnavas
Name[nb]=Vindmølle
Name[nds]=Windmöhl
Name[nl]=Windmolen
Name[pl]=Młyn wodny
Name[pt]=Moinho
Name[pt_BR]=Moinho
Name[ro]=Moară de vînt
Name[ru]=Ветряная мельница
Name[sk]=Veterný mlyn
Name[sl]=Mlin na veter
Name[sr]=Ветрењача
Name[sr@ijekavian]=Ветрењача
Name[sr@ijekavianlatin]=Vetrenjača
Name[sr@latin]=Vetrenjača
Name[sv]=Väderkvarn
Name[tr]=Rüzgar Değirmeni
Name[ug]=چاقپەلەك
Name[uk]=Вітряк
Name[x-test]=xxWindmillxx
Name[zh_TW]=風車
Description=Windmill puzzle with five overlapping 9x9 squares
Description[bs]=Slagalica vjetrenjača sa pet preklapanja 9x9 kvadrata
Description[ca]=Trencaclosques molinet amb cinc quadrats sobreposats de 9x9
Description[ca@valencia]=Trencaclosques molinet amb cinc quadrats sobreposats de 9x9
Description[da]=Vindmølleopgave med fire overlappende 9x9-kvadrater
Description[de]=Windmühlen-Rätsel mit fünf 9x9-Quadraten, die sich überlappen
Description[el]=Windmill παζλ με πέντε επικαλυπτόμενα 9x9 τετράγωνα
Description[en_GB]=Windmill puzzle with five overlapping 9x9 squares
Description[es]=Rompecabezas en molino de viento con cinco cuadrados superpuestos de 9x9
Description[fi]=Tuulimyllypeli, jossa on viisi limittäistä 9 × 9 -neliötä
Description[fr]=Puzzle « Windmill » avec cinq carrés de 9 x 9 se chevauchant
Description[gl]=Quebracabezas Muíño de Vento con cinco cadrados 9x9 que se solapan
Description[hu]=Szélmalom kirakó öt átfedő 9x9-es négyzettel
Description[it]=Rompicapo Mulino a vento con cinque quadrati 9x9 che si sovrappongono
Description[kk]=Жел диірмені - бес шатастырылған 9х9 шаршыдан жиналатын басқатырғыш
Description[km]=ល្បែង​ផ្គុំរូប Windmill ដែល​មាន​ការេ 9x9 ត្រួតគ្នា​ប្រាំ
Description[ko]=다섯 개의 겹치는 9x9 사각형이 있는 풍차 퍼즐
Description[lv]=Vējdzirnavu mīkla ar pieciem 9x9 kvadrātiem, kas pārklājas
Description[nb]=Vindmølle-spill med fem overlappende 9×9-kvadrater
Description[nds]=Windmöhl-Radel mit fief 9x9-Quadraten
Description[nl]=Windmolen-puzzel met vijf overlappende 9x9 vierkantjes
Description[pl]=Puzzle młyna wodnego z pięcioma zachodzącymi na siebie kwadratami 9x9
Description[pt]='Puzzle' em moinho com cinco quadrados 9x9 sobrepostos
Description[pt_BR]=Quebra-cabeça em moinho com cinco quadrados 9x9 sobrepostos
Description[ru]=Головоломка с пятью накладывающимися квадратами 9x9
Description[sk]=Puzzle veterného mlyna s piatimi prekrývajúcimi sa štvorcami 9x9
Description[sl]=Sestavljanka mlin na veter s petimi, prekrivajočimi se 9x9 kvadrati
Description[sr]=Слагалица ветрењача са пет преклопљених 9×9 квадрата
Description[sr@ijekavian]=Слагалица ветрењача са пет преклопљених 9×9 квадрата
Description[sr@ijekavianlatin]=Slagalica vetrenjača sa pet preklopljenih 9×9 kvadrata
Description[sr@latin]=Slagalica vetrenjača sa pet preklopljenih 9×9 kvadrata
Description[sv]=Väderkvarnspussel med fem överlappande 9x9 kvadrater
Description[tr]=Beşli birbirine geçmiş olan 9x9 kareli Rüzgar Gülü bulmacası
Description[uk]=Варіант «вітряк» з п’ятьма квадратами 9x9, що перекриваються
Description[x-test]=xxWindmill puzzle with five overlapping 9x9 squaresxx
Description[zh_TW]=五個相疊的 9x9 方塊，風車形
Author=Ian Wadham
FileName=Windmill.xml
Icon=ksudoku-samurai
