[KSudokuVariant]
Name=Windmill
Name[de]=Windmühle
Name[es]=Molino de viento
Name[nl]=Windmolen
Name[pt]=Moinho
Name[pt_BR]=Moinho
Name[sv]=Väderkvarn
Name[uk]=Вітряк
Name[x-test]=xxWindmillxx
Name[zh_TW]=風車
Description=Windmill puzzle with five overlapping 9x9 squares
Description[es]=Rompecabezas en molino de viento con cinco cuadrados superpuestos de 9x9
Description[nl]=Windmolen-puzzel met vijf overlappende 9x9 vierkantjes
Description[pt]='Puzzle' em moinho com cinco quadrados 9x9 sobrepostos
Description[pt_BR]=Quebra-cabeça em moinho com cinco quadrados 9x9 sobrepostos
Description[sv]=Väderkvarnspussel med fem överlappande 9x9 kvadrater
Description[uk]=Варіант «вітряк» з п’ятьма квадратами 9x9, що перекриваються
Description[x-test]=xxWindmill puzzle with five overlapping 9x9 squaresxx
Description[zh_TW]=五個相疊的 9x9 方塊，風車形
Author=Ian Wadham
FileName=Windmill.xml
Icon=ksudoku-samurai
