[KSudokuVariant]
Name=XSudoku
Name[ne]=एक्स सुडोकु
Name[sv]=Xsudoku
Name[te]=ఎక్స్ సుడొకు
Name[x-test]=xxXSudokuxx
Description=XSudoku shape puzzle
Description[ca]=Trencaclosques amb forma XSudoku
Description[da]=XSudoku-formet puslespil
Description[de]=XSudoku förmiges Rätsel
Description[el]=Παζλ σχήματος XSudoku
Description[es]=Rompecabezas al estilo XSudoku
Description[et]=XSudoku kujuline sudoku
Description[fa]=معمای شکل XSudoku
Description[fi]=XSudoku-muotoinen pulma
Description[fr]=Puzzle XSudoku
Description[ga]=Puzal ar dhéanamh XSudoku
Description[gl]=Forma de XSudoku
Description[it]=Formato dello schema XSudoku
Description[ja]=対角線型パズル
Description[km]=ល្បែង​ផ្គុំ​រូបរាង XSudoku
Description[ko]=XSudoku 모양 퍼즐
Description[lv]=XSudoku formas laukums
Description[nds]=XSudoku-Radels
Description[ne]=एक्स सुडोकु आकार पजल
Description[nl]=XSudoku-vormige puzzel
Description[nn]=XSudoku-brett
Description[pl]=Układanka w kształcie XSudoku
Description[pt]=Puzzle com o formato do XSudoku
Description[pt_BR]=Quebra-cabeça em formato XSudoku
Description[sl]=Uganka v obliki XSudoku
Description[sv]=Xsudoku-format spel
Description[uk]=XSudoku — головоломка з частинок
Description[x-test]=xxXSudoku shape puzzlexx
Description[zh_CN]=XSudoku 谜题
Description[zh_TW]=XSudoku 遊戲
Author=Francesco Rossi
FileName=XSudoku.xml
Icon=ksudoku-xsudoku
