[KSudokuVariant]
Encoding=UTF-8
Name=XSudoku
Name[sv]=Xsudoku
Description=XSudoku shape puzzle
Description[el]=Παζλ σχήματος XSudoku
Description[es]=Rompecabezas al estilo XSudoku
Description[ja]=対角線型パズル
Description[pt]=Puzzle com o formato do XSudoku
Description[pt_BR]=Puzzle com o formato do XSudoku
Description[sv]=Xsudoku-format spel
Description[zh_TW]=XSudoku 遊戲
Author=Francesco Rossi
FileName=XSudoku.xml
