[KSudokuVariant]
Encoding=UTF-8
Name=XSudoku
Description=XSudoku shape puzzle
Description[es]=puzle del tipo XSudoku
Description[ja]=対角線型パズル
Description[pt]=Puzzle com formato do XSudoku
Description[pt_BR]=Puzzle com formato do XSudoku
Author=Francesco Rossi
FileName=XSudoku.xml
